PROTO_PATH=/app/protos
USER_SERVICE_URL=user-service:50051
CATALOG_SERVICE_URL=catalog-service:50052
MEDIA_SERVICE_URL=media-service:50053
ENROLLMENT_SERVICE_URL=enrollment-service:50054
SALES_SERVICE_URL=sales-service:50055
RABBITMQ_URL=amqp://rabbitmq:5672
PUBLIC_URL=http://localhost:3000
CATALOG_DATABASE_URL=postgresql://udemy_admin:udemy_password@postgres:5432/udemy_db?schema=catalog
ENROLLMENT_DATABASE_URL=postgresql://udemy_admin:udemy_password@postgres:5432/udemy_db?schema=enrollment
SALES_DATABASE_URL=postgresql://udemy_admin:udemy_password@postgres:5432/udemy_db?schema=sales
AUTH0_ISSUER_URL=https://your-tenant.us.auth0.com/
AUTH0_AUDIENCE=https://api.udemyclone.local
